body {
  background-color: #eed1f0;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.poster {
  width: 600px;
  height: 850px;
  background-image: url(./images/plantekatter.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

#contentWrap {
  padding-bottom: 2.5rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #a6238c;
  height: 100px;
}

h1 {
  font-family: titleFont;
  font-size: 60px;
  margin: 0px;
}

p {
  font-family: lineUpFont;
  font-weight: 900;
  font-size: 20px;
  margin: 0;
}

.lineUp {
  font-family: lineUpFont;
  width: 200px;
  float: left;
  padding: 20px;
  margin-left: 2px;
}

.lineUp ul {
  list-style-type: none;
  font-weight: 900;
  background-color: #eed1f0;
  padding: 10px;
}

.lineUp li {
  line-height: 1;
}

.lineUp .lineUpTitle {
  font-family: titleFont;
  font-size: 40px;
}

.info {
  display: flex;
  padding: 15px;
  background-color: #eed1f0;
  margin: 10px;
}

.info p {
  font-size: 15px;
}

footer {
  background-color: #a6238c;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
}

@font-face {
  font-family: titleFont;
  src: url(./Fonts/title-font.ttf);
}

@font-face {
  font-family: lineUpFont;
  src: url(./Fonts/lineup-font.ttf);
}
